<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holland.holland.mapper.OrderMapper" >
<resultMap id="BaseResultMap" type="com.holland.holland.pojo.Order" >
   <id column="id" property="id" jdbcType="INTEGER" />
   <result column="bd_url" property="bdUrl" jdbcType="VARCHAR" />
   <result column="bd_secret" property="bdSecret" jdbcType="VARCHAR" />
   <result column="description" property="description" jdbcType="VARCHAR" />
   <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
   <result column="c_user_id" property="cUserId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="claim_user_id" property="claimUserId" jdbcType="INTEGER" />
    <result column="claim_time" property="claimTime" jdbcType="TIMESTAMP" />
    <result column="e_time" property="eTime" jdbcType="TIMESTAMP" />
    <result column="verity_time" property="verityTime" jdbcType="TIMESTAMP" />
    <result column="verify_user_id" property="verifyUserId" jdbcType="INTEGER" />
</resultMap>
<sql id="Base_Column_List" >
    `id`,`bd_url`,`bd_secret`,`description`,`c_time`,`c_user_id`,`status`,`claim_user_id`,`claim_time`,`e_time`,`verity_time`,`verify_user_id`
</sql>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
    select  
    <include refid="Base_Column_List" /> 
    from  `order`
    where id = #{id,jdbcType=INTEGER} 
</select> 
<select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from `order`
</select>
<delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer" > 
    delete  
    from  `order`
    where id = #{id,jdbcType=INTEGER} 
</delete> 
<insert id="insert" parameterType="com.holland.holland.pojo.Order"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
    insert into `order` ( `id`,`bd_url`,`bd_secret`,`description`,`c_time`,`c_user_id`,`status`,`claim_user_id` )
    values ( #{id,jdbcType=INTEGER},#{bdUrl,jdbcType=VARCHAR},#{bdSecret,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{cTime,jdbcType=TIMESTAMP},#{cUserId,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{claimUserId,jdbcType=INTEGER} )
</insert>
<insert id="insertSelective" parameterType="com.holland.holland.pojo.Order"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >`id`,</if>
      <if test="bdUrl != null" >`bd_url`,</if>
      <if test="bdSecret != null" >`bd_secret`,</if>
      <if test="description != null" >`description`,</if>
      <if test="cTime != null" >`c_time`,</if>
      <if test="cUserId != null" >`c_user_id`,</if>
      <if test="status != null" >`status`,</if>
      <if test="claimUserId != null" >`claim_user_id`,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >#{id,jdbcType=INTEGER},</if>
      <if test="bdUrl != null" >#{bdUrl,jdbcType=VARCHAR},</if>
      <if test="bdSecret != null" >#{bdSecret,jdbcType=VARCHAR},</if>
      <if test="description != null" >#{description,jdbcType=VARCHAR},</if>
      <if test="cTime != null" >#{cTime,jdbcType=TIMESTAMP},</if>
      <if test="cUserId != null" >#{cUserId,jdbcType=INTEGER},</if>
      <if test="status != null" >#{status,jdbcType=INTEGER},</if>
      <if test="claimUserId != null" >#{claimUserId,jdbcType=INTEGER},</if>
    </trim>
</insert>
<update id="updateByPrimaryKey" parameterType="com.holland.holland.pojo.Order" >
     update `order` set
     `bd_url` = #{bdUrl,jdbcType=VARCHAR}, 
     `bd_secret` = #{bdSecret,jdbcType=VARCHAR}, 
     `description` = #{description,jdbcType=VARCHAR}, 
     `c_time` = #{cTime,jdbcType=TIMESTAMP}, 
     `c_user_id` = #{cUserId,jdbcType=INTEGER}, 
     `status` = #{status,jdbcType=INTEGER}, 
     `claim_user_id` = #{claimUserId,jdbcType=INTEGER} 
     where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKeySelective" parameterType="com.holland.holland.pojo.Order" >
     update `order`
     <set >
       <if test="bdUrl != null" > `bd_url` = #{bdUrl,jdbcType=VARCHAR},</if>
       <if test="bdSecret != null" > `bd_secret` = #{bdSecret,jdbcType=VARCHAR},</if>
       <if test="description != null" > `description` = #{description,jdbcType=VARCHAR},</if>
       <if test="cTime != null" > `c_time` = #{cTime,jdbcType=TIMESTAMP},</if>
       <if test="cUserId != null" > `c_user_id` = #{cUserId,jdbcType=INTEGER},</if>
       <if test="status != null" > `status` = #{status,jdbcType=INTEGER},</if>
       <if test="claimUserId != null" > `claim_user_id` = #{claimUserId,jdbcType=INTEGER},</if>
     </set>
     where id = #{id,jdbcType=INTEGER}
</update>
</mapper>